.contact-me-header {
  margin-right: 10px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', Monaco, monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
}

.contact-me-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 800px;
  position: relative;
}

.get-in-touch {
  font-weight: 600;
  color: rgb(204, 214, 246);
  margin: 0px 0px 20px;
  font-size: 60px;
}

.contact-me-description {
  color: rgb(136, 146, 176);
  line-height: 1.3;
  font-family: Calibre, 'San Francisco', 'SF Pro Text', -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

.contact-me-mail {
  display: flex;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  cursor: pointer;
  color: rgb(100, 255, 218);
  background-color: transparent;
  border: 1px solid rgb(100, 255, 218);
  border-radius: 3px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', Monaco, monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.contact-me-mail:hover {
  color: rgb(100, 255, 218);
  outline: 0px;
  background-color: rgba(100, 255, 218, 0.07);
}

.bottom {
  
}